
@mixin displayFlex(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}

.header{
    border: 1px solid rgb(255, 255, 255);
    max-height: 5rem;
    height: 4rem;
    margin: 4px;
    border-radius: 2px;
    nav{
        height: inherit;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        border-radius: 5px;
        // border: 4px solid blue;
        @include for-phone-only{
            display: none;
        }
        ul{ 
            border: 1px solid white;
            display: flex;
            margin: 5px;
            justify-content: space-between;
            border-radius: 2px;
            padding: 0;
            li{
               border: 1px solid white;
               list-style: none;
               @include displayFlex();
               width: 150px;
               margin: 4px;
               font-size: 15px;
               font-weight: 700;
               border-radius: 2px;
               user-select: none;
               cursor: pointer;
            }
        }
    }
    .mini-navbar{
        display: none;
        @include for-phone-only{
              display: flex;
              justify-content: flex-end;
              align-items: center;
              height: 100%;
              position: relative;
            //   border: 2px solid blue;
              .hamburger-button{
                   font-size: 4px;
                   margin: 4px;
                   background: transparent;
              }
        }
        .nav-bar-mobile-list{
            position: fixed;
            width: 50%;
            top: 0;
            right:0;
            border: 1px solid rgb(255, 255, 255);
            height: 100%;
            overflow: hidden;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            transition: all 600ms ease-in-out;
            z-index: 2;
            background-color: #242424;
            .cancel-button{
                  @include displayFlex();
                   justify-content: flex-end;
                   margin: 4px 4px 4px 4px;
                   border-radius: 4px;
                   button{
                       border: 1px solid white;
                       svg{
                          width: 20px;
                          height: 20px;
                       }
                   }
            }
            .nav-list{
                 border: 1px solid white;
                 margin: 4px;
                 height: 100%;
                 border-radius: 4px;
                 padding: 0;
                 ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    li{
                        border-bottom: 1px solid white;
                        list-style: none;
                        display: flex;
                        width: 100%;
                        margin-bottom: 25px;
                        font-size: 15px;
                        font-weight: 700;
                        border-radius: 2px;
                        user-select: none;
                        cursor: pointer;
                        &::before{
                            
                        }
                        &:hover{
                            color: white;
                        }
                    }
                 }
            }
         }
      }
  }
