
@mixin displayFlex(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}

.header{
    border: 1px solid white;
    max-height: 5rem;
    height: 4rem;
    margin: 4px;
    border-radius: 2px;
    nav{
        height: inherit;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        border-radius: 5px;
        @include for-phone-only{
            display: none;
        }
        ul{ 
            border: 1px solid white;
            display: flex;
            margin: 5px;
            justify-content: space-between;
            border-radius: 2px;
            padding: 0;
            li{
               border: 1px solid white;
               list-style: none;
               display: flex;
               justify-content: center;
               align-items: center;
               width: 150px;
               margin: 4px;
               font-size: 15px;
               font-weight: 700;
               border-radius: 2px;
               user-select: none;
            }
        }
    }
    .mini-navbar{
        display: none;
        @include for-phone-only{
              display: flex;
              justify-content: flex-end;
              align-items: center;
              height: 100%;
              border: 1px solid red;
              position: relative;
        }
        .hamburger-button{
            background: transparent;
            padding: 0;
            margin: 4px;
        }
        .nav-bar-mobile-list{
             position: absolute;
             border: 1px solid red;
             width: 50%;
             height: 100%;
        }
    }
}
